// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// or color
$background-c: #273043;
$color1: #EEF36A;
$font-c: #F92A82;
$header-font-c: #273043;
$body-background-c: #90F3FF;
$container:white;
