// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// or color
$backgroundc: #273043;
$color1: #EEF36A;
$color2: #F92A82;
$color3: #3F826D;
$color4: #90F3FF;
