// Specific CSS for your home-page
// .wrapper {
//   background-color: $background-c;
//   // height: 80vh;
// }

.main-img {
  text-align: center;
  margin-top: 40px;
}

.header-p {
    color: $background-c;
    font-size: small;
    font-style: italic;
    }

.video-banner-logo {
  margin-bottom: 20px;
}
