<div class="container">
  <h1 class="text-center"><%=@toilet.user.first_name%> <%=@toilet.user.last_name%> welcomes you at <%=@toilet.name%></h1>
  <h2 class="text-center">Book a s***t 🚽</h2>
  <div class="form-container">
    <%= render "bookings/form" %>
  </div>
</div>
