<footer class="text-center text-white fixed-bottom">
  <!-- Grid container -->
  <!-- <div class="container p-4"></div> -->
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="bottom-footer text-center p-3">
    © 2020 Copyright: <%= link_to "EZToilets", root_path, class: "text-white text-decoration-none" %>
  </div>
  <!-- Copyright -->
</footer>
