<div class="wraper">
  <div class="container">
    <div class="title">
      <h1>EZToilet</h1>
      <h2>Take a S*** ! (sit)</h2>
    </div>
    <div class="main-img">
      <img src="app/assets/images/logo.png" alt="La toilette">
    </div>
    <div class="btn btn-success">Pick up your toilet !</div>
  </div>
</div>
