//.carousel-banner {
//   border-radius: 55px 55px 55px 55px;
//   height: 350px;
//   margin-bottom: 60px;
//   margin-top: 20px;
//   margin-left: 50px;
//   margin-right: 50px;
// }

.text-banner-container {
  border-color: $background-c !important;
  border-style: solid;
  border: 1px;
}
