.cards-container {
  display: flex;
  justify-content: center;
  padding: 5px 4px 4px;
  font-family:$body-font;
  font-size: 12px;
  color: $background-c;
  width: 100%;
  margin: 0 auto;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 20px;
  flex-grow: 1;
  a {
    text-decoration: none;
  }
}

.card {
  background-size: cover;
  background-position: center;
  background-color: white;
  height: 300px;
  width: 80%;
  display: flex;
  //position:relative
  //flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family:$body-font;
  font-size: 24px;
  font-weight: normal;
  color: $background-c;
  border-style: none;
  border-color:  $font-c;
  margin-left: 15px;
  margin-top: 15px;
  padding-bottom: 5px;
  border-radius: 25px;
}

.homepage-cards-container {
  display: flex;
  justify-content: center;
  padding: 15px 4px 35px;
  font-family:$body-font;
  font-size: 12px;
  color: $background-c;
  width: 80%;
  margin: 0 auto;
}

.homepage-cards {
  display: grid;
  //width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 16px;
  flex-grow: 1;
  a {
    text-decoration: none;
  }
}

.homepage-card {
  background-size: cover;
  background-position: center;
  background-color: white;
  height: 300px;
  width: 80%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family:$body-font;
  font-size: 24px;
  font-weight: normal;
  color: $background-c;
  border-style: none;
  border-color:  $font-c;
  margin-left: 15px;
  margin-top: 15px;
  padding-bottom: 5px;
  border-radius: 25px;
}

.card-image {
  height: 300px;
  width: 100%;
  position: relative;
  top: 0;
  border-radius: 25px;
  margin: 3px 3px;
  box-shadow: 0 0 15px rgb(76, 74, 74);
  background-repeat: no-repeat;
  background-size: cover;
}

.information {
  height: 100px;
  width: 80%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: left;
  flex-grow: 1;
  padding-top: 5px;
}

.name {
  white-space: nowrap;
  overflow: hidden;
  font-weight: bold;
  font-size: 24px;
  color: $font-c;
  }

.description {
  font-size: 12px;
  color:rgb(128, 128, 128);
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  //text-overflow: ellipsis;
  text-shadow: none;
}

.price {
  font-size: 16px;
  text-align: right;
  color: $font-c;
}

// .card-carousel {
//   width: 50%;
//   height: 180px;
//   position: absolute;
//   top: 0;
//   border-radius: 5px;
//   margin: 3px 3px;
//   box-shadow: 0 0 15px rgb(76, 74, 74);
// }

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
