.wraper-footer {
  background-color: $background-c !important;
}

.container-footer {
  background-color: white;
  color: $font-c;
}

.bottom-footer {
  background-color: $background-c !important;
  color: $font-c;
}
