.form-container {
  display: flex;
  justify-content: center;
  padding: 16px;
  text-align: center;
  font-family: $body-font;
  font-size: 20px;
  color: $font-c;
  border-style: none;
  border-radius: 5%;
}

.container-height {
  max-height: fit-content !important;
}
