.video-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

.video-container {
  height: 500px;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: right;
  align-items: center;
}

.video-container video {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

/* Just styling the content of the div, the *magic* in the previous rules */
.video-container .video-overlay-card {
  width: 300px;
  height: 300px;
  z-index: 1;
  position: relative;
  text-align: center;
  color: $font-c;
  padding: 8px;
  background-color: $background-c;
  border-radius: 5px;
  border: solid 1px $color1;
  transform: translateX(-50%);
}
