<ul>
  <%@toilet.features.each do |feature|%>
      <li>
      <%=feature.name%>
      <% if @toilet.user == current_user %>
        <%=link_to "ðŸ“", edit_toilet_feature_path(feature.toilet, feature), class: "font-size-20"%>
      <%end%>
    </li>
  <%end%>
</ul>
